/* New Yorker-style links */
/* Thanks to */

a {
  color: #823E53;
}

a {
  color: #823E53;
  text-decoration: none;
  background-image: -webkit-linear-gradient(rgba(130, 62, 83, 0.25) 0%, #823E53 100%);
  background-image: linear-gradient(rgba(130, 62, 83, 0.25) 0%, #823E53 100%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 95%;
  text-shadow: 3px 0 white, 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white, -3px 0 white;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  a {
    background-image: -webkit-linear-gradient(rgba(130, 62, 83, 0.25) 0%, #823E53 100%);
    background-image: linear-gradient(rgba(130, 62, 83, 0.25) 0%, #823E53 100%);
    background-position: 0 93%;
  }
}
a:hover {
  color: #5c2c3b;
  background-image: -webkit-linear-gradient(top, #6d3446 0%, #6d3446 100%);
  background-image: linear-gradient(to bottom, #6d3446 0%, #6d3446 100%);
}
a:visited {
  color: #453b3c;
  background-image: -webkit-linear-gradient(top, #534749 0%, #534749 100%);
  background-image: linear-gradient(to bottom, #534749 0%, #534749 100%);
}
a::-moz-selection,
a > *::-moz-selection {
  background-color: #c17e93;
  color: #301D2F;
  text-shadow: none;
}
a::selection,
a > *::selection {
  background-color: #c17e93;
  color: #301D2F;
  text-shadow: none;
}
a::-moz-selection,
a > *::-moz-selection {
  background-color: #c17e93;
  color: #301D2F;
  text-shadow: none;
}
h1 a, h2 a, h3 a {
  background-size: 1px 2px;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  h1 a, h2 a, h3 a {
    background-position: 0 93%;
    background-image: -webkit-linear-gradient(#823E53 0%, #823E53 100%);
    background-image: linear-gradient(#823E53 0%, #823E53 100%);
    background-size: 1px 1px;
    background-position: 0 93%;
  }
}
