@import url("boilerplate.css");

body {
	margin: 0;
	padding: 0;
	background-image: url('../images/pattern.gif');
}

div#main{
	width: 800px;
	margin: 0 auto;
	padding: 0 10px;
	border-left: 14px solid #000;
	border-right: 14px solid #000;
	border-bottom: 20px solid #000;
	background-color: #eee;
}
div#header{
	margin: 0;
	text-align: center;
	font-size: 6em;
	font-style: italic;
}
#message{
	font-size: 2em;
	font-style: italic;
	text-align: justify;
	letter-spacing: 0.5px;
}
#sidebar {
	margin: 0 auto;
	padding: 0;
}

#sidebar ul{
	text-align:center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar li{
	margin 0;
	display: inline;
	padding: 0 20px;
	font-size: 3em;
}
