<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
{% block headers %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="author" content="{{ AUTHOR }}" />
  <base href="{{ SITEURL }}">
  <link rel="stylesheet" type="text/css" 
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="stylesheet" type="text/css" 
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css" />
  <link rel="stylesheet" type="text/css" 
        href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/typogrify.css" />
  <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} ALL Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=PT+Mono|PT+Serif" rel="stylesheet"> 

  <!-- OpenGraph Info -->
  {% block OPEN_GRAPH_INFO %}
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
  <meta property="og:url" content="{{ SITEURL }}"/>
  {% endblock OPEN_GRAPH_INFO %}

  {% raw %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
  integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4"
  crossorigin="anonymous"></script>
  <script defer
          src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
          integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa"
          crossorigin="anonymous"> </script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
       macros: {"\\reals": "\\mathbb{R}"},
       throwOnError: true,
       delimiters: [
               {left: "$$", right: "$$", display: true},
               {left: "$", right: "$", display: false},
               {left: "\\(", right: "\\)", display: false},
               {left: "\\[", right: "\\]", display: true}
       ],
     });
  })
  </script>
  {% endraw %}

{% endblock headers %}
</head>

<body>
<div id="container">
<header>
  <nav class="navmenu" id="navmenu">
    <li id="homelink"><a href="/">{{ SITENAME }}</a>
{% for title, link in MENUITEMS %}
    </li><li class="menu"><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a>
{% endfor %}
{% if DISPLAY_PAGES_ON_MENU %}
{% for p in PAGES %}
  </li><li class="menu"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
{% endfor %}
{% endif %}
   </li>
   </nav>
 </header>
 <div id="main">
{% block content%}
{% endblock content %}
 </div>
<footer>
  <p>Powered by <a href="http://pelican.readthedocs.org">Pelican</a>.
  <a href="/privacy.html">Privacy policy</a>.</p>
</footer>
</div>
</body>
</html>
