@import url("boilerplate.css");
@import url("pygment.css");
@import url("typogrify.css");
html{
	height: 100%;
	overflow: -moz-scrollbars-vertical; /* Firefox */
	overflow-y: scroll;
}
body {
	font-family: "Alegreya";
	font-size: 18px;
	height: 100%;
	background-image: url('../images/pattern.gif');
}

/* Colors */

a:link {color: #0F6F8B;}
a, a:visited {color: #2F8FAB;}
a:hover, a:focus {color: #69BBD7;}
a:active {color: #69BBD7 ;}

/* Typography */

ul, ol {
	margin: 1.3333em 0;
}
p, li {
  font-size: 1em; /* 18px */
  line-height: 1.3333em; /* 24px */
  margin: 0 0 1.3333em 0 !important; /* needed because of silly ipynb */
}

.class-for-14px {
  font-size: 0.7778em; /* 14px */
  line-height: 1.7143em; /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0;
}

/* 16px - The quick brown fox jumps over the lazy dog */
.class-for-16px {
  font-size: 0.8889em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin-top: 1.5em;
  margin-bottom: 0;
}

h1.entry-title {
  font-size: 2em; /* 36px */
  line-height: 1.3333em; /* 48px */
  margin-top: 0.6667em;
  margin-bottom: 0;
  clear: both;
}

h1 a:link {
    text-decoration: none;
}

h1, article>h2 {
  font-size: 1.3333em; /* 24px */
  line-height: 1em; /* 24px */
  margin-top: 1em;
  margin-bottom: 0;
}

h2 {
  font-size: 1em; /* 18px */
  line-height: 1.3333em; /* 24px */
  margin: 1.3333em 0 0 0;
}

.class-for-36px {
  font-size: 2em; /* 36px */
  line-height: 1.3333em; /* 48px */
  margin-top: 0.6667em;
  margin-bottom: 0;
}
.class-for-72px {
  font-size: 4em; /* 72px */
  line-height: 1em; /* 72px */
  margin-top: 0.3333em;
  margin-bottom: 0;
}

div#main{
	margin: 1.3333em auto;
	padding: 0 10px;
	min-height: 300px;
	border-left: 14px solid #000;
	border-right: 14px solid #000;
	border-top: 0.6666em solid #000;
	border-bottom: 0.6666em solid #000;
	background-color: #eee;
}
div#container{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
div#header{
	font-size: 4em; /* 64px */
  	line-height: 1em; /* 80px */
  	padding-top: 0.3333em;
  	margin-bottom: 0em;
	padding: 0 10px;
	font-family: "Averia Gruesa Libre";
	text-align: center;
	border-left: 14px solid #000;
	border-right: 14px solid #000;
	border-bottom: 0.1666em solid #000;
	background-color: #eee;
}

ol.hfeed {
    list-style: none;
}

.post-info {
    float: right;
    max-width: 300px;
    margin-left: 20px;
}

.hentry {clear: both;}

div.prompt {display: none !important;}
.math {
    color: black;
    text-align: center !important;
}
