/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/

@charset "UTF-8";

@font-face {
  font-family: "euclid-flex";
  src: url("../fonts/EuclidFlex-Bold-WebXL.woff2") format("woff2"),
       url("../fonts/EuclidFlex-Bold-WebXL.woff") format("woff"),
       url("../fonts/EuclidFlex-Bold-WebXL.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "euclid-flex";
  src: url("../fonts/EuclidFlex-Medium-WebXL.woff2") format("woff2"),
       url("../fonts/EuclidFlex-Medium-WebXL.woff") format("woff"),
       url("../fonts/EuclidFlex-Medium-WebXL.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "euclid-flex";
  src: url("../fonts/EuclidFlex-Regular-WebXL.woff2") format("woff2"),
       url("../fonts/EuclidFlex-Regular-WebXL.woff") format("woff"),
       url("../fonts/EuclidFlex-Regular-WebXL.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "euclid-flex";
  src: url("../fonts/EuclidFlex-BoldItalic-WebXL.woff2") format("woff2"),
       url("../fonts/EuclidFlex-BoldItalic-WebXL.woff") format("woff"),
       url("../fonts/EuclidFlex-BoldItalic-WebXL.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "euclid-flex";
  src: url("../fonts/EuclidFlex-MediumItalic-WebXL.woff2") format("woff2"),
       url("../fonts/EuclidFlex-MediumItalic-WebXL.woff") format("woff"),
       url("../fonts/EuclidFlex-MediumItalic-WebXL.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "euclid-flex";
  src: url("../fonts/EuclidFlex-RegularItalic-WebXL.woff2") format("woff2"),
       url("../fonts/EuclidFlex-RegularItalic-WebXL.woff") format("woff"),
       url("../fonts/EuclidFlex-RegularItalic-WebXL.ttf") format("truetype");
  font-weight: regular;
  font-style: italic; 
}

html { 
  font-size: 18px; 
  line-height: 1.66rem;
  height: 100%;
}

body { 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", Georgia, serif;
  background-color: #F8F8FF;
  color: #111;
  counter-reset: sidenote-counter;
}


.danger {
  color: red;
}

/*
article { 
  position: relative;
  padding: 5rem 0rem;
}
*/

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ol, ul {
  margin: 0;

}

p {
  margin: 0 0 1rem 0 !important;
  vertical-align: baseline;
}

p.subtitle {
  font-style: italic;
  /*font-size: 1.8rem;
  line-height: 1;*/
  display: block;
}


blockquote footer {
  font-size: .8rem;
  text-align: right;
}

/* Links: replicate underline that clears descenders */
a:link, a:visited { color: inherit; }

a:link { 
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) { 
  a:link { 
    background-position-y: 87%, 87%, 87%;
  }
}

a:link::selection { 
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe; 
}

a:link::-moz-selection { 
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}
/* end links */


/*
hr {
  margin-left: 0;
  width: 75%;
}

article div hr { 
  margin-left: 0;
  width: 75%;
}

article div ol li {
   margin-top: 0;
   margin-bottom: 0; }

article div ol li p { padding: 0;
                      margin: 0; }

.websitetitle { font-size: 4rem;
                margin-top: 0;
                margin-bottom: 1rem; }

*/


#vladpic
{
  display: block;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1 a:link {background: none;}

h2,h3,h4 {
  font-family: euclid-flex;
  font-weight: 600;
  font-style: normal;
}

/* these need to be important to override inline styles */
div.prompt {display: none !important;}
div.cell {padding: 0 !important;}
div.text_cell_render {padding: 0 !important;}


/* collapse */
label.margin-toggle:not(.sidenote-number) { display: inline; }
label { cursor: pointer; }
input.margin-toggle { display: none; }
sidenote, .marginnote { display: none; }
.margin-toggle:checked + .sidenote,
.margin-toggle:checked + .marginnote { display: block;
                                       float: left;
                                       left: 1rem;
                                       clear: both;
                                       margin: 1rem 0;
                                       vertical-align: baseline;
                                       position: relative; }
/* SPACING */

img {width: 100%; }

div#container{
	height: 100%;
	margin: 0 auto;
  margin: 1.3333em 10px;
}

#navmenu {
  margin-bottom: 1.5rem;
  margin-left: auto;
}

#navmenu {
  font-family: 'euclid-flex';
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
}

#navmenu li#homelink {
  font-size: 2.38rem;
  margin-bottom: 1rem;
}
#navmenu li.menu {
  font-size: 1.33rem;
  display: inline;
}

#navmenu a {
  background: none;
  text-shadow: none;
}

#navmenu li.menu:after {
    content: " ⋅ ";
    /* content: " ⋅ \00B7"; */
}
#navmenu li:last-child:after {
    content: "";
}

h1 { 
  font-family: "euclid-flex", sans;
  font-weight: medium;
  font-size: 1.222rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

h2 {
  font-weight: medium;
  font-size: 1.111rem;
  line-height: 0.933333333333333;
}

h3 {
  font-weight: medium;
  font-size: 1rem;
  /*margin-top: 2.1777777777777778rem*/;
  margin-bottom: 0;
  /*line-height: 1.08888888888889*/;
}

/* undo ipynb-pelican bullshit */
a.anchor-link:link, a.anchor-link:visited, a.anchor-link:hover {
  color: lightgray; 
  background: none;
  text-shadow: none;
}
.highlight {
    font-size: 0.7rem;
    line-height: 1rem;
    overflow: auto;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: .5rem;
    padding: 5px;
    background-color: #efefef;
}

/*
#navmenu {

  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h1 { 
  font-family: "euclid-flex", sans;
  font-weight: medium;
  margin-top: 1.568rem;
  margin-bottom: 1.568rem;
  font-size: 2.5rem;
  line-height: 0.784;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 1.866666666666667rem;
  margin-bottom: 0;
  font-size: 2.1rem;
  line-height: 0.933333333333333;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 2.1777777777777778rem;
  margin-bottom: 0;
  line-height: 1.08888888888889;
}
*/
